@import url('https://cdn.seedbot.xyz/web/fa/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');
*{font-family: 'Source Sans Pro', sans-serif;}
.status.online{
	padding: 5px;
	padding-left: 50px;
	height: 90px;
	width: 300px;
	border: 1px #00C851 solid;
	border-left: 4px #00C851 solid;
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.status.offline{
	padding: 5px;
	padding-left: 50px;
	height: 90px;
	width: 300px;
	border: 1px #dc3545 solid;
	border-left: 4px #dc3545 solid;
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.status.title{
	font-size:18px;
	font-weight: bold;
}
.check{
	position: fixed;
	bottom: 45px;
	right: 325px;
}
.cross{
	position: fixed;
	bottom: 45px;
	right:325px;
}
.stats{
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
	padding-top:20px;
    letter-spacing: -0.8px;
    width: 300px;
    text-align: center;
    height: 78px;
background-color: rgba(0,255,0,0.1);
    border: 1px #000 solid;
    border-radius:3px;
}
.statdesc{
	font-size: 14px;
	width:300px;
	border-top: 1px #000 solid;
	height: 14px;
	line-height: 14px;
}
.stats.two{
	background-color: rgba(0,0,255,0.1); 
	position: absolute;
	top: 83px;
	left: 320px;
}