.custom-description{
	width: calc(100% - 700px);
	margin-top:150px;
	margin-left: 40px;
}
.custom-content .title{
	margin-left: 100px;
	margin-top: 70px;
}
.custom-content {
	display: flex;
	flex-flow: column;
}
.custom-content-bot-con {
	display: flex;
	flex-flow: row;
	margin-left: 70px;
}
.logo {
	position:relative;
	bottom: 100px;
	margin-left: 100px;
}
.commands{
	margin-left: 50px;
	width: calc(100% - 200px);
}
.custom-seperator{
	width: calc(100% - 250px);
	margin-left: 125px;
	height:1px;
	border-top: 1px #666 dashed;
}
.prefix{
	width: 200px;
	position:relative;
	top: 200px;
	left:calc(100% - 250px);
	border-radius: 5px;
	border: 1px #666 solid;
	padding: 15px;
	background-color: #d1d1d1;
}
.prefix code{
	color: #333;
}
.stastics{
	margin-left: 150px;
	margin-top: 50px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}
.footer {
	position: relative;
	left:0;
	height: 80px;
	width:100%;
	background-color:#F8F9FA;
	border-top:1px #666666 dotted;
}
.copyright{
	position:absolute;
	bottom:25px;
	margin-left: calc(50% - 184.72px);
}
svg {
	fill: rgba(0,0,0,0.5);
	stroke:#000;
}
