.status.online{
	background-color:white;
	padding: 5px;
	padding-left: 50px;
	height: 90px;
	width: 300px;
	border: 1px #28a745 solid;
	border-left: 4px #28a745 solid;
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.status.offline{
	padding: 5px;
	padding-left: 50px;
	height: 90px;
	width: 300px;
	border: 1px #dc3545 solid;
	border-left: 4px #dc3545 solid;
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.status.title{
	font-size:18px;
	font-weight: bold;
}
.check{
	position: fixed;
	bottom: 40px;
	right: 265px;
	z-index:1000;
}